html, body{
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d6f2ca;
    box-sizing: border-box;
}

h1{
    color: #b5a583;
}

.container{
    text-align: center;
    margin: 0 10px; 
    padding: 0 20px 40px 20px;
    width: 100vh; 
    box-sizing: border-box;
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    box-shadow: 5px 4px #8e8e8e;
}

.logincontent{
    color: #b5a583;
    margin: 20px;
    position: relative;
}

input{
    border: none;
    border-bottom: 1px solid;
    outline: none;
}

.showpass{
    color: #b5a583;
    position: absolute;
    cursor: pointer;
    margin-left: 10px;
}

.login{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    gap: 15px; 
}

.submitbutton, .returnbutton{
    width: 100%;  /* ボタンの幅をコンテナに合わせて100%にする */
    max-width: 300px;  /* 必要に応じて最大幅を設定 */
    min-height: 40px;
    border-radius: 8px;
    font-size: 1.5rem;
    color: black;
    background-color: #e5fae3;
    outline: none;
}

@media (max-width: 450px){
    body,html{
        height: 100vh;
        overflow: hidden;
    }
    
    .container{
        margin: 0 10px;
        padding: 5% 10% 20% 10%;
        width: 70vw;
        height: 55vh;
        border: none;
        border-radius: 20px;
        background-color: #ffffff;
        box-sizing: border-box;
    }

    .submitbutton, .returnbutton {    
        outline: none;    
        max-width: 100%;
        min-height: 40px;
        border: none;
        border-radius: 8px;
        font-size: 1.5rem;
        width: 100%;
        margin: 10px;
    }
}

@media (max-width: 380px){
    .container{
        margin: 0 10px;
        padding: 5% 10% 20% 10%;
        width: 70vw;
        height: 65vh;
        border: none;
        border-radius: 20px;
        background-color: #ffffff;
        box-sizing: border-box;
    }
    
    .submitbutton, .returnbutton {    
        outline: none;    
        max-width: 100%;
        min-height: 40px;
        border: none;
        border-radius: 8px;
        font-size: 1.5rem;
        width: 100%;
        margin: 10px;
    }
}