body{
    background-color: #A5C398;
}

header {
    color: #735C29;
    display: flex; /* フレックスボックスを有効に */
    justify-content: space-between; /* ヘッダー要素を左右に分ける */
    align-items: center; /* 中央に揃える */
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

h2{
    color: #735C29;
}

.profile {
    background-color: #FFF2E3;
    padding: 5px 10px;
    border: 1px solid #000;
    border-radius: 50px;
    cursor: pointer;
}

/* 大学・キャンパス表示のスタイル */
.university-campus {
    color: #735C29;
    margin-bottom: 20px;
    text-align: left;
}

.promotion{
    color: #735C29;
    margin-bottom: 10px;
    text-align: right;
}

.regires{
    text-align: center;
    border: solid ;
    border: 1px solid #576730;
    border-radius: 20px;
    margin: 10px;
}

.route{
    color: #735C29;
}

div{
    
    margin: 5px;
}

input{
    background-color: #FFF2E3;
    border-radius: 20px;
    padding-left: 5px;
}

label{
    margin: 10px;
}

select{
    background-color: #FFF2E3;
    text-align: center;
    border-radius: 20px;
}


.evaluation-options label {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* ラジオボタンは非表示に */
.evaluation-options input[type="radio"] {
    display: none;
}

/* 選択されていない時のホバー効果 */
.evaluation-options label:hover {
    background-color: #e0e0e0;
}

/* 選択された時にボタンの色を変更 */
.evaluation-options input[type="radio"]:checked + label {
    background-color: #007BFF;
    color: white;
    border-color: #007BFF;
}

textarea{
    background-color: #FFF2E3;
    margin: 5px;
    padding: 10px;
    border-radius: 20px;
    width: 80%;
}

.regibuttonbox{
    text-align: right;
}

.regibutton{
    background-color: #FFF2E3;
    margin: 10px 10px 10px 10px ;
    width:50px;
    text-align: center;
    border: solid 1px #576730;
    border-radius: 10px;
    height: 50%;
}

.creteria{
    text-align: center;
}

/* フッターのスタイル */
footer {
    margin: 0 180px 0 180px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-top: 1px solid #ccc;
}

/* フッターのタブボタン */
.tab-btn {
    color: #735C29;
    bottom: 20px;
    padding: 10px 20px;
    border: 1px solid #000;
    border-radius: 20px;
    background-color: #FFF2EF;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

@media (max-width: 450px){
    .container{
        margin: 0 10px 0 10px;
        padding: 10px 0 10px 10px;
        border-radius: 20px;
    }

    .content{
        width: 90%;
        place-content: center;
    }
    .boxforpost{
        width: 90%;
        display: flex;
    }

    .textbox{
        width: 70%;
        margin: 10px 0 10px 10px;
    }

    .postbutton{
        margin: 30px 0 15px 10px ;
    }

    footer{
        margin: 0px;
    }
    .tab-btn{
        width: 100%;
        background-color: #FFF2EF;
    }
}