body{
    background-color: #A5C398;
}

h1{
    color: #735C29;
}

h2{
    color: #735C29;
}

.container{
    
    margin: 0 100px 0 100px;
    padding: 10px 0 10px 10px;
    border-radius: 20px;
}

.logincontent{
    color: #735C29
}

input{
    background-color: #FFF2E3;
    border-radius: 20px;
    padding-left: 5px;
}

.campus-dropdown{
    background-color: red;
    border-radius: 20px;
}

select{
    border-radius: 20px;
    background-color: #FFF2E3;
}

.submitbutton{
    height: 40px;
    width: 160px;
    margin: 10px;
    background-color: #FFF2E3;
    border-radius: 20px;
}

@media (max-width: 450px){
    .container{
        margin: 0 10px 0 10px;
        padding: 10px 0 10px 10px;
        border-radius: 20px;
    }

    .content{
        width: 90%;
        place-content: center;
    }
    .boxforpost{
        width: 90%;
        display: flex;
    }

    .textbox{
        width: 70%;
        margin: 10px 0 10px 10px;
    }

    .postbutton{
        margin: 30px 0 15px 10px ;
    }

    footer{
        margin: 0px;
    }
    .tab-btn{
        width: 100%;
        background-color: #FFF2EF;
    }
}