body{
    background-color: #d6f2ca;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

h1{
    color: #b5a583;
}

h2{
    color: #b5a583;
}

.container{
    text-align: center;
    margin: 0 10px; 
    padding: 0 20px 40px 20px;
    width: 100vh; 
    box-sizing: border-box;
    background-color: #ffffff;
    border: none;
    border-radius: 20px;
    box-shadow: 5px 4px #8e8e8e;
}


.signupcontent{
    margin: 15px;
    text-align: center;
}

ul {
    list-style: none;
    padding-left: 0;
    text-align: center;
}


input{
    border: none;
    border-bottom: 1px solid;
    border-radius: 0px;
    outline: none;
}

#campus-dropdown{
    border-radius: 20px;
    border: none;
    outline: none;
}

select{
    border-radius: 20px;
    background-color: #e5fae3;
}

.submitbutton{
    width: 100%;  /* ボタンの幅をコンテナに合わせて100%にする */
    max-width: 300px;  /* 必要に応じて最大幅を設定 */
    min-height: 40px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    color: black;
    background-color: #e5fae3;
    outline: none;
}

@media (max-width: 450px){
    .container{
        margin: 0 10px;
        padding: 5% 5% 5% 5%;
        width: 70vw;
        height: 65vh;
        border: none;
        border-radius: 20px;
        background-color: #ffffff;
        box-sizing: border-box;
    }

    .submitbutton{    
        outline: none;    
        max-width: 100%;
        min-height: 40px;
        border-radius: 8px;
        font-size: 1.5rem;
        width: 100%;
        margin-top: 10px;
    }
}

@media (max-width: 380px){
    .container{
        margin: 0 10px;
        padding: 5% 10% 20% 10%;
        width: 70vw;
        height: 65vh;
        border: none;
        border-radius: 20px;
        background-color: #ffffff;
        box-sizing: border-box;
    }

    .submitbutton{    
        outline: none;    
        max-width: 100%;
        min-height: 40px;
        border-radius: 8px;
        font-size: 1.5rem;
        width: 100%;
        margin: 10px 0 ;
    }
}